body{
    background-color:burlywood;
}
.representative{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.representative__info{
    flex-direction: row;
}

.representative__links{
    flex-direction: column;
    border-style: solid;
    padding: 1em;
    margin: 1em;
}
.representative__comittees{
    flex-direction: column;
    border-style: solid;
    padding: 1em;
    margin:1em;

}